p
{
	text-align:center;
	font-size:400%;
}
img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:70%;	
}
.scale-box 
{
    transition: transform .2s; /* Animation */
}
  
.scale-box:hover 
{
    transform: scale(1.05);
}
